.about-content {
  display: flex;
  flex-direction: row;
}

.skill-pill:hover {
  background-color: #dc2626;
  color: white;
}

@media (max-width: 640px) {
  .about-content {
    flex-direction: column;
  }
}
