.dark-bg {
  background: #000;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #dc2626;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.fab {
  transition: color 0.3s ease;
}

.fab:hover {
  color: #dc2626;
}

@media (max-width: 768px) {
  #mobile-menu a:hover {
    background-color: #1f2937; /* gray-800 */
  }
}
